<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추가페이지</title>
</head>

<body>
    <form action="/insert" method="post">
        <label for="">이름</label>
        <!-- name -> 요청시 객체의 키값 -->
        <input type="text" name="labelname">
        <label for="">번호</label>
        <input type="number" name="inputnumber">
        <button>추가</button>
    </form>
</body>

</html>