<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입력</title>
</head>

<body>
    <a href="/">메인 페이지로!</a>
    <a href="/listlistlist">리스트 페이지로!</a>
    <a href="/insertinsertinsert">입력 페이지로!</a>
    <div>입력 페이지임</div>
    <form action="/haha" method="post">
        <label for="">이름</label>
        <input type="text" name="inputname">
        <label for="">번호</label>
        <input type="number" name="inputnumber">
        <button>추가하기</button>
    </form>
</body>

</html>