<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>

<body>
    <!-- ./list로 작성하면 상대경로기 때문에 안된다. 파일을 찾는게 아니라 url로 던지는 방식 다시 서버에게 요청 -->
    <a href="/list">리스트 페이지로 이동</a>
</body>

</html>