<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        아놔
    </title>
</head>

<body>
    <div>
        메인 페이지
        <% boardList.forEach((el, index)=> { %>
            <div>
                <%= el.id %>
                    <%= el.name %>
            </div>
            <% }); %>
    </div>
</body>

</html>